<div class="header">
	<ul class="nav nav-pills pull-right">
		<li><a href="/">Sök</a></li>
		<li class="active"><a href="#/about">Om</a></li>
	</ul>
	<h3 class="text-muted">Gulles GC-Tools</h3>
</div>

<div class="jumbotron">
	<p>Detta är bara början på en mängd olika verktyg.</p>
</div>
<ul>
	<li><strong>Myst-lösar-hjälpmedel</strong> för att kanske underlätta vid lösande av mystar.</li>
	<ul>
		<li>Plocka ut allt användardata</li>
	</ul>
	<li><strong>Google Maps</strong> för att projicera bäring, radie, etc. för angivna koordinater.</li>
	<li><strong>Konvertering av data</strong> text, base64, hex, ASCII, färgkoder, motstånd, fluxcapacitor.</li>
</ul>
